@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

.instructions {
  text-align: center;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 8rem;
}

.results {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
}

button {
  font: inherit;
  font-weight: bold;
  padding-inline: 1rem;
  height: 2.5rem;
}

.btn-group > button {
  padding: 0rem;
  justify-content: center;
  text-align: center;
  width: 6rem;
}

.wrapper {
  display: flex;
  gap: 4rem;
}

.scorecard {
  padding: 1rem;
}
